<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/images/logo.jpg">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
  </head>
  <body>
    <br>
    <div class="cart-wrapper">
      <div class="cart-header">
        <h1>Your Cart</h1>
      </div>

      <div class="cart-items">
        <div class="cart-item">
          <img src="https://picsum.photos/id/1002/300/300.jpg" alt="Product image">
          <div class="cart-item-details">
            <h2>Product name</h2>
            <p>Price: $99.99</p>
            <p>Quantity: 1</p>
            <button>Remove</button>
          </div>
        </div>
        <div class="cart-item">
          <img src="https://picsum.photos/id/1004/300/300.jpg" alt="Product image">
          <div class="cart-item-details">
            <h2>Product name</h2>
            <p>Price: $99.99</p>
            <p>Quantity: 1</p>
            <button>Remove</button>
          </div>
        </div>
        <div class="cart-item">
          <img src="https://picsum.photos/id/1005/300/300.jpg" alt="Product image">
          <div class="cart-item-details">
            <h2>Product name</h2>
            <p>Price: $99.99</p>
            <p>Quantity: 2</p>
            <button>Remove</button>
          </div>
        </div>
      </div>
      <div class="cart-total">
        <h2>Total: $199.98</h2>
        <form action="shippingInfo.html">
          <input type="submit" value="Checkout">
        </form>
      </div>
    </div> 
  </body>
</html>
