<footer style="background-color: rgb(5, 37, 49); height: 300px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h3>ABOUT US</h3>
                <p>
                    We exist so you can have the art you love. When you
                    find art you love, you'll love your space more... and
                    that's what it's all about.
                </p>
                <br>
                <ul class="no-bullets">
                    <li>Phone: 0300-111-30-45</li>
                    <li>Email: info@Artistia.pk</li>
                    <li>Facebook: https://www.facebook.com/Artistia</li>
                </ul>

            </div>
            <div class="col-md-6 news">
                <h3>Subscribe to Newsletter</h3>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <button type="submit" class="btn btn-secondary btn-custom">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
<div id="preloader">
    <div class="line"></div>
</div>